<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
  <li>
    <b>Title:</b> <%= product.title %><br>
    <b>Price:</b> <%= product.price %><br>
    <b>Stock Qty:</b> <%= product.stock_quantity %>
  </li>
  <br>
</ul>